* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 15px 0;
  line-height: 1.8;
  text-align: left;
}

.p-home {
  margin: 15px 0;
  line-height: 1.4;
  text-align: center;
  color: #000;
  opacity: 0.7;
  font-size: 18px;
}

.p-home-first {
  margin: 15px 0;
  line-height: 1.4;
  width: 100%;
  text-align: right;
  color: #000;
  opacity: 0.7;
  font-size: 18px;
}

.p-home-small {
  margin: 15px 0;
  line-height: 1.4;
  text-align: center;
  color: #000;
  opacity: 0.7;
  font-size: 16px;
}

pfooter {
  padding-left: 20px;
  color: rgb(251, 250, 250);
}

.a-big {
  position: relative;
  color: rgb(251, 250, 250);
  padding-right: 57%;
  width: 100%;
  height: 100%;
  margin-left: 0;
}


.h1 {
  color:#6400FF;
  opacity: 0.9;
  font-size: 35px;
  font-family: 'Arial', sans-serif;
}

.h2-custom {
  color:#000000;
  opacity: 0.7;
  font-size: 22px;
  padding-top: 5px;
  font-family: 'Arial', sans-serif;
}

.h2-partners {
  color:#000000;
  opacity: 0.5;
  font-size: 18px;
  padding-top: 10%;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.h3-custom {
  color: #000000;
  opacity: 0.8;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}


.h1-first {
  color:#000000;
  font-weight: bold;
  opacity: 0.9;
  font-size: 35px;
  padding-top: 5%;
  text-align: right;
  font-family: 'Arial', sans-serif;
}

.h1-custom {
  color:#000000;
  font-weight: bold;
  opacity: 0.9;
  font-size: 35px;
  padding-top: 10%;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.h1-carousel {
  color:#000000;
  font-weight: bold;
  opacity: 0.9;
  font-size: 35px;
  padding-top: 10%;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(251, 250, 250);
}


.pageIntro {
  color: #000000;
  font-size: 25px;
  font-weight: 800;
}

img {
  width: 100%;
  border-radius: 10px;
}

.small-img {
  width: 50%;
}

header {
  background: #6400FF;
  color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

header a {
  color: #fff;
  margin: 0;
}

.container {
  
  text-align: center;
  display:flex;
  justify-content: center;
  margin: 0;
  overflow: auto;
  padding: 0 0px;
}

.in-container {
  margin: 0;
  overflow: auto;
  display: flexbox;
  text-align: center;
  justify-content: center;
  padding-top: 0%;
  padding-right: 10%;
  padding-left: 10%;
  font-family: 'Arial', sans-serif;
}

.img-container {
  margin: 0;
  overflow: auto;
  display: flexbox;
  text-align: center;
  justify-content: center;
  padding-top: 0%;
  padding-right: 20%;
  padding-left: 20%;
  font-family: 'Arial', sans-serif;
}

.small-container {
  margin: 0;
  overflow: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 32%;
  padding-left: 32%;
  font-family: 'Arial', sans-serif;
}

.smaller-container {
  margin: 0;
  overflow: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 44%;
  padding-left: 44%;
  font-family: 'Arial', sans-serif;
}

.smallest-container {
  margin: 0;
  overflow: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 45%;
  padding-left: 45%;
  opacity: 0.6;
  font-family: 'Arial', sans-serif;
}

.container-carousel {
  margin: 0;
  overflow: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  font-family: 'Arial', sans-serif;
}

.row-padded-element {
  margin: 0;
  overflow: auto;
  justify-content: center;
  display: flex;
  text-align: center;
  padding-top: 0%;
  width: 100%;
}

.row-element {
  margin: 0;
  overflow: auto;
  justify-content: center;
  display: flex;
  text-align: center;
  padding-top: 0;
  width: 100%;
}

.arrow-container {
  margin: 0;
  overflow: auto;
  justify-content: space-between;
  display: flex;
  text-align: center;
  padding-top: 0;
  width: 100%;
}

.btnDoc {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  opacity: 1;
  margin-left: 12px;
}

.btn {
  display:inline-block;
  background: #6400FF;
  color: #fff;
  margin: 5px;
  padding-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.imgbtn {
  display:inline-flex;
  background: #6400FF;
  color: #fff;
  margin: 0px;
  padding-right: 10px;
  padding-top: 10px;
  cursor: pointer;
  text-align: center;
}

.btn:focus {
  outline: none;
}


.btn-back {
  background: #6400FF;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.btn-half {
  display: inline-block;
  background: #6400FF;;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  opacity: 1;
  margin-left: 12px;
  width: 30%;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 0px;
  width: 100%;
  padding: 25px;
}


.one-post {
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-top: 0px;
  align-items: center;
  width: 100%;
  padding: 25px;
}

.two-posts {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding: 25px;
}

.three-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin-top: 0px;
  width: 100%;
  padding: 25px;
}


.four-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 0px;
  width: 100%;
  padding: 25px;
}


.eight-posts {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
  margin-top: 0px;
  width: 100%;
}


.blackCard {
  padding: 15px;
  margin: 0px 0;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 2px #6400FF;
  font-family: 'Arial', sans-serif;
  text-align: center; 
}

.card {
  padding: 15px;
  border-radius:20px;
  width: 85%;
  box-shadow: 0px 0px 4px 2px #838383;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background: #FFF;
}

.home-card {
  padding: 15px;
  border-radius: 0px;
  justify-content: center;
  box-shadow: 0 0px 0px 0px #6400FF;
  font-family: 'Arial', sans-serif;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.card-page {
  display: flex;
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body {
  width: 100%;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  text-align: center;
  display: flex;
  width: 100%;
  margin: 0px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 0px;
  align-items: center;
  text-align: left;
  margin: 0px 0;
  width: 100%;
  line-height: 2.3;
}




@media (max-width: 780px) {

  .in-container {
    margin: 0;
    overflow: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 0%;
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Arial', sans-serif;
  }

  .h1-carousel {
    display: none;
  }

  .small-container {
    margin: 0;
    overflow: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Arial', sans-serif;
  }

  .home-card {
    padding: 0%;
    border-radius: 0px;
    justify-content: center;
    box-shadow: 0 0px 0px 0px #6400FF;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }


  .posts {
    align-items: center;
    margin-top: auto;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    width: 77%;
    padding: 5%;
    flex-direction: column;
  }

  .two-posts {
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    width: 85%;
    padding: 5%;
    flex-direction: column-reverse;
  }

  .three-posts {
    align-items: center;
    margin-top: auto;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 5%;
    flex-direction: column;
  }

  .four-posts {
    align-items: center;
    margin-top: auto;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 5%;
    flex-direction: column;
  }

  .eight-posts {
    align-items: center;
    position: relative;
    margin-top: auto;
    margin-bottom: 50px;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    padding: 5%;
    flex-direction: column;
  }

  .nav{
    display: flex;
    padding: 0px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #6400FF;
    margin: 0;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');


a{
  text-decoration: none;
  color: inherit;
}

header{
  position: sticky;
  z-index: 30;
  top: 0;
  margin: 0;
  padding: 0;
  margin-top: 0%;
}

nav{
  display: flex;
  padding-left: 11.5%;
  padding-right: 11.5%;
  justify-content: space-between;
  align-items: center;
  background-color: #6400FF;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}


.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
  margin: 0;
}


.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: rgb(255, 253, 253);
  border-radius: 2px;
}


.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 188px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #6400FF;
}


.nav__menu-list.active{
  right: 0;
}


.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 780px) {
  .btn {
    display: none;
  }
  .dropbtn {
    display: none;
  }

}


@media screen and (min-width: 780px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    right: 10%;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }

  .bigdropbtn{
    display: none;
  }

}


/* Style The Dropdown Button */
.dropbtn {
  background-color: #6400FF;
  color: white;
  padding: 16px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display:table-column;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #8535fd;
}


/* bigdrop */

.bigdropbtn {
  background-color: #6400FF;
  color: white;
  padding: 24px;
  font-size: 16px;
  min-width: 80px;
  border: none;
  cursor: pointer;
}

.bigdropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.bigdropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.bigdropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.bigdropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.bigdropdown:hover .bigdropdown-content {
  display:table-column;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.bigdropdown:hover .bigdropbtn {
  background-color: #cb5dd1;
}


@media (max-width: 780px) {
    .carousel {
      width:auto;
      height:auto;
    }
}


.code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #52595d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0px 3px;
  display: inline-block;
  margin: 0px;
}


.pre {
  border: 1px solid #cacaca;
  line-height: 1.2em;
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  padding: 10px;
  overflow:auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FAFAFB;
  color: #393939;
  margin: 0px;
}